# Cscope/Tags
/cscope.files
/cscope.out
/tags

# Output
/xenvif
*.log
*.lastbuildstate
*.db
*.recipe
*.sarif
*.obj
*.vsidx
*.tlog
*.pdb
*.vcxproj.FileListAbsolute.txt
*.lastcodeanalysissucceeded
.vs/
vs2019/xenvif_coinst/Windows*/
vs2019/xenvif/Windows*/
vs2019/Windows*/
vs2019/version/.revision
include/version.h
vs2019/xenvif.inf
src/xenvif/RCa24836
.build_number
src/xenvif/RCa29932
